<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e18bac">  <td>21/06/17 10:25:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeClass()[pri:0, instance:ParallelInheritance.FindShop@3e2e18f2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1296213918</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>21/06/17 10:26:01</td>   <td>16876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DropDownSelection.SelectValue()[pri:1, instance:ParallelInheritance.FindShop@3e2e18f2]">SelectValue</td> 
  <td>TestNG-tests-1@1296213918</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>21/06/17 10:26:17</td>   <td>33753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FindShop.VerifyShop()[pri:2, instance:ParallelInheritance.FindShop@3e2e18f2]">VerifyShop</td> 
  <td>TestNG-tests-1@1296213918</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>21/06/17 10:25:41</td>   <td>-2667</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetUpApplication.beforeClass(java.lang.String)[pri:0, instance:ParallelInheritance.FindShop@3e2e18f2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1296213918</td>   <td></td> </tr>
<tr bgcolor="e18bac">  <td>21/06/17 10:25:52</td>   <td>8630</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeClass()[pri:0, instance:ParallelInheritance.FindShop@31c88ec8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1334338087</td>   <td></td> </tr>
<tr bgcolor="a0b76e">  <td>21/06/17 10:25:41</td>   <td>-2667</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetUpApplication.beforeClass(java.lang.String)[pri:0, instance:ParallelInheritance.FindShop@31c88ec8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1334338087</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>21/06/17 10:26:10</td>   <td>25846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DropDownSelection.SelectValue()[pri:1, instance:ParallelInheritance.FindShop@31c88ec8]">SelectValue</td> 
  <td>TestNG-tests-2@1334338087</td>   <td></td> </tr>
<tr bgcolor="baa398">  <td>21/06/17 10:26:31</td>   <td>47415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FindShop.VerifyShop()[pri:2, instance:ParallelInheritance.FindShop@31c88ec8]">VerifyShop</td> 
  <td>TestNG-tests-2@1334338087</td>   <td></td> </tr>
</table>
